<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>591100456906-uv6nj9nsmbb79j00gktk5k7lv37pbgfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591100456906-uv6nj9nsmbb79j00gktk5k7lv37pbgfj</string>
	<key>API_KEY</key>
	<string>AIzaSyA54BGrUlzbgV5OwcRB2ln9UwcPHnz3vGI</string>
	<key>GCM_SENDER_ID</key>
	<string>591100456906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LucasCB.FilaFacil</string>
	<key>PROJECT_ID</key>
	<string>fila-facil</string>
	<key>STORAGE_BUCKET</key>
	<string>fila-facil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:591100456906:ios:ebb2a003b56d92e1</string>
	<key>DATABASE_URL</key>
	<string>https://fila-facil.firebaseio.com</string>
</dict>
</plist>
