<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>88918312072-sm80r95m4oe5365rkhv2918nqmt17637.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88918312072-sm80r95m4oe5365rkhv2918nqmt17637</string>
	<key>API_KEY</key>
	<string>AIzaSyAo-1VkuQmu23n6FxfiwEtoV1StmLb-IaE</string>
	<key>GCM_SENDER_ID</key>
	<string>88918312072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LucasCB.FilaFacil</string>
	<key>PROJECT_ID</key>
	<string>filafacildev</string>
	<key>STORAGE_BUCKET</key>
	<string>filafacildev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88918312072:ios:ebb2a003b56d92e1</string>
	<key>DATABASE_URL</key>
	<string>https://filafacildev.firebaseio.com</string>
</dict>
</plist>